<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div class="wrapper">
        <form method="POST" action="{% url 'result' %}">
            {% csrf_token %}
            <div class="dropdown">
                <button type="button" class="dropdown-btn" onclick="toggleDropdown(event)">Выберите список</button>
                <div class="dropdown-content" id="dropdown">
                    {% if lists %}
                        {% for item in lists %}
                            <div onclick="selectItem('{{ item.id }}', '{{ item.name }}')">{{ item.name }}
                                <a href="{% url 'edit' item.id %}" class="btn-icon"><i class="fas fa-pencil"></i></a>
                                <a href="{% url 'delete' item.id %}" onclick="return confirm('Вы уверены, что хотите удалить этот список?')" class="btn-icon"><i class="fas fa-trash"></i></a>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="add-btn-container">
                        <a href="{% url 'add' %}" class="btn-icon"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <input type="hidden" name="selected_list" id="selected_list" value="">
            <button type="submit">Отправить</button>
        </form>
    </div>
    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>
